 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Mulish', sans-serif;
 }

 /* header related styles */
 header {
     background: #FFF;
     width: 1170px;
     margin: 0 auto;


 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* logo related styles */
 .logo {
     display: flex;
     gap: 20px;
 }

 .logo-name {
     display: inline-block;
     justify-content: center;
     color: #131318;
     font-family: Mulish;
     font-size: 2.25rem;
     font-weight: 800;
 }

 .logo-aboard {
     color: #FF5400;

 }

 /* logo related style end here */

 nav>ul {
     display: flex;
 }

 nav li {
     list-style: none;
     margin-right: 44px;
 }

 nav a {
     text-decoration: none;
     color: #424247;
     text-align: center;
     font-size: 1.125rem;
     font-weight: 400;
 }

 .nav-home {
     color: #FF5400;
     ;
 }

 /* header related style end here */


 /* hero section related styles */

 .hero {
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/hero.png);
     height: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
     text-align: center;
     padding: 120px;
     margin: 50px 120px;
 }

 .hero-tittle {
     color: #FFF;
     font-family: Mulish;
     font-size: 4rem;
     font-weight: 800;

 }

 .hero-des {
     color: #FFF;
     text-align: center;
     font-family: Mulish;
     font-size: 1rem;
     font-weight: 400;
     line-height: 26px;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .form {
     display: inline-flex;
     padding: 16px;
     align-items: flex-start;
     gap: 24px;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
 }

 .form input[type="text"],
 select {
     width: 174px;
     height: 52px;
     border-radius: 8px;
     border: none;
     background: #FFF;
     padding: 16px;
     color: rgba(19, 19, 24, 0.50);
     font-size: 1rem;
     font-weight: 400;
 }

 .form button {
     width: 174px;
     height: 52px;
     border-radius: 8px;
     border: none;
     background: #FF5400;
     padding: 16px;
     color: #FFF;
     text-align: center;
     font-size: 1rem;
     font-weight: 400;

 }

 /* hero section related styles end here */

 /* popular tour related styles */
 .popular-tour {
     display: flex;
     padding: 100px 120px;
     gap: 50px;
 }

 .tour-content>ul {
     padding-left: 30px;
     padding-right: 50px;

 }

 .tour-tittle,
 .destination-tittle {
     color: #131318;
     font-family: Mulish;
     font-size: 2.5rem;
     font-weight: 800;
 }

 .tour-des,
 ul,
 .destination-des {
     color: rgba(19, 19, 24, 0.70);
     font-size: 1rem;
     font-weight: 400;
     line-height: 26px;
     margin-top: 30px;
 }

 .tour-content li {
     margin-top: 10px;

 }

 .tour-content input[type="submit"] {
     width: 174px;
     height: 52px;
     border-radius: 8px;
     border: none;
     background: #FF5400;
     padding: 16px;
     color: #FFF;
     text-align: center;
     font-size: 1rem;
     font-weight: 400;
     margin-top: 30px;
 }

 /* popular tour related styles end here */

 /* destination related styles */
 .destination-content {
     width: 50%;
     margin: 0 auto;
     text-align: center;

 }

 .place-name {
     padding: 120px;
     color: #FFF;
     text-align: center;
     font-size: 1.75rem;
     font-weight: 800;
 }

 .row-1 {
     grid-area: row-1;
     background-image: url(../Images/Maldives.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .row-2 {
     grid-area: row-2;
     background-image: url(../Images/Indonesia.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .row-3 {
     grid-area: row-3;
     background-image: url(../Images/Srilanka.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .row-4 {
     grid-area: row-4;
     background-image: url(../Images/North\ America.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .row-5 {
     grid-area: row-5;
     background-image: url(../Images/Kashmir.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .row-6 {
     grid-area: row-6;
     background-image: url(../Images/Bangladesh.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .row-7 {
     grid-area: row-7;
     background-image: url(../Images/Bandarban.png);
     background-repeat: no-repeat;
     width: 100%;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
 }

 .destination-grid {
     margin-top: 50px;
     display: grid;
     justify-content: center;
     gap: 20px;
     grid-template-areas:
         "row-1 row-1 row-2 row-2"
         "row-3 row-4 row-4 row-5"
         "row-6 row-7 row-7 row-7";
 }
 /* destination section end here */

 /* choose-us related styles */


 /* footer section related styles */
 footer {
     margin: 0 auto;

 }

 .footer {
     background: rgba(19, 19, 24, 0.05);
     padding: 120px;
 }

 .footer .logo {
     display: flex;
     justify-content: center;
 }

 .footer-des,
 .footer-des-2 {
     color: #5A5A5D;
     text-align: center;
     font-size: 1rem;
     font-weight: 400;
     line-height: 26px;
     margin-top: 10px;
 }

 .social-icons {
     display: flex;
     justify-content: center;
     gap: 20px;
     padding: 32px;
 }

 hr {
     width: 50%;
     margin: 0 auto;
 }

 .footer-des-2 {
     margin-top: 50px;
 }

 /* footer section related styles end here */