 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Mulish', sans-serif;
 }

 /* header related styles */
 header {
     background: #FFF;
     width: 1170px;
     margin: 0 auto;


 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* logo related styles */
 .logo {
     display: flex;
     gap: 10px;
 }

 .logo-name {
     display: inline-block;
     justify-content: center;
     color: #131318;
     font-family: Mulish;
     font-size: 2.25rem;
     font-weight: 800;
 }

 .logo-aboard {
     color: #FF5400;
     ;
 }

 /* logo related style end here */

 nav>ul {
     display: flex;
 }

 nav li {
     list-style: none;
     margin-right: 44px;
 }

 nav a {
     text-decoration: none;
     color: #424247;
     text-align: center;
     font-size: 1.125rem;
     font-weight: 400;
 }

 .nav-home {
     color: #FF5400;
     ;
 }

 /* header related style end here */


 /* hero section related styles */
 .hero {
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/hero.png);
     height: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
     text-align: center;
     padding: 120px;
     margin: 50px 100px;
 }

 .hero-tittle {
     color: #FFF;
     font-family: Mulish;
     font-size: 4rem;
     font-weight: 800;

 }

 .hero-des {
     color: #FFF;
     text-align: center;
     font-family: Mulish;
     font-size: 1rem;
     font-weight: 400;
     line-height: 26px;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .form {
     display: inline-flex;
     padding: 16px;
     align-items: flex-start;
     gap: 24px;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
 }

 .form input[type="text"],
 select {
     width: 174px;
     height: 52px;
     border-radius: 8px;
     border: none;
     background: #FFF;
     padding: 16px;
     color: rgba(19, 19, 24, 0.50);
     font-size: 1rem;
     font-weight: 400;
 }

 .form input[type="search"] {
     width: 174px;
     height: 52px;
     border-radius: 8px;
     border: none;
     background: #FF5400;
     padding: 16px;
     color: #FFF;
     text-align: center;
     font-size: 1rem;
     font-weight: 400;

 }

 /* popular tour related styles */
 .popular-tour {
     display: flex;
     padding: 100px 120px;
     gap: 50px;
 }

 .tour-content >ul {
     padding-left: 30px;
     padding-right: 50px;

 }

 .tour-tittle {
     color: #131318;
     font-family: Mulish;
     font-size: 2.5rem;
     font-weight: 800;
 }

 .tour-des,ul {
     color: rgba(19, 19, 24, 0.70);
     font-size: 1rem;
     font-weight: 400;
     line-height: 26px;
     margin-top: 30px;
 }
 .tour-content li{
    margin-top: 10px;

 }
 .tour-content input[type="submit"] {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    padding: 16px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
 }